<%= render "shared/second-header"%>
<div class="login-page">
  <div class="sns-signup">
    <h1 class='form-header-text'>
      SNSアカウントでログイン
    </h1>
    <div class="sns-link">
      <%= link_to user_facebook_omniauth_authorize_path, class:"facebook", method: :post do %>
        <%= image_tag "f_logo_RGB-Blue_58.png", class:"facebook-logo"%>
          Facebookでログイン
      <% end %>
      <%= link_to  user_google_oauth2_omniauth_authorize_path, class:"google", method: :post do %>
      <%= image_tag "google-logo.png", class:"google-logo"%>
          Googleでログイン
      <% end %>
    </div>
  </div>

  <%= form_with model:@user, url:user_session_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        会員情報を入力してログイン
      </h1>
    </div>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
    </div>
    <div class='login-btn'>
      <%= f.submit "ログイン" ,class:"login-red-btn" %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/second-footer"%>